<div>
  <ul class="nav bg-light border">
      <li class="nav-item">
        <a class="nav-link active" routerLink="/buscar">Buscar resultados</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/nuevo">Nuevo resultado</a>
      </li>
    <li class="nav-item">
      <a class="nav-link active" routerLink="/buscarurl">Buscar resultados por url</a>
    </li>


  </ul>

</div>
<div>
  <router-outlet></router-outlet><!--aquí se arrancará o una u otra, en funcion de lo que se elija en el menu-->


</div>
